main{
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inicia-jogo{
    background-color: green;
    border-radius: 10%;

}

footer{
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.letras{
    width: 30px;
    color: gray;
}

.chute{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}